<div class="add-image-page">
  <%= form_for @user, html: { multipart: true } do |f| %>
    <div class="field">
      <%= f.file_field :image, :id => "upload-here", class:"new-salon-button"%>
    </div>
    <div class="actions">
      <%= f.submit 'Update User', :id => 'uploader-button', class:"new-salon-button"%>
    </div>
  </div>
  <% end %>
  <br />
  <%= link_to "<", "/", class:"button new-salon-button" %>
</div>
