<%= form_for @user, html: { multipart: true } do |f| %>
  <div class="new_user new_review">
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, id:"upload-here"%>
  </div>
  <div class="actions">
    <%= f.submit 'Update User', :id => 'uploader-button'%>
  </div>
</div>
<% end %>
