<div class="row">

  <div class="small-12 medium-6 large-3 columns user-box">
    <%= render 'user-info' %>
  </div>

  <div class="small-12 medium-5 large-8 columns user-box">
    <% if @user.user_type == "owner" %>
      <%= render 'owner' %>
    <% elsif @user.user_type == "stylist" %>
      <%= render 'stylist' %>
    <% else %>
      <%= render 'client' %>
    <% end %>
  </div>

</div>
