<div class="row large-centered salon-big-box">
  <div class="small-12 large-6 columns salon-box">
    <div class="row">
      <h1>services</h1>
    </div>
    <div class="row clients">
      <h3>data</h3>
    </div>
  </div>

  <div class="small-12 large-6 columns salon-box">
    <div class="row">
      <h1>stylists</h1>
    </div>
    <div class="row">
      <h3>data</h3>
    </div>
  </div>
</div>
<div class="row large-centered salon-big-box">
  <div class="small-12 large-6 columns salon-box">
    <div class="row">
      <h1>products</h1>
    </div>
    <div class="row clients">
      <h3>data</h3>
    </div>
  </div>

  <div class="small-12 large-6 columns salon-box">
    <div class="row">
      <h1>clients</h1>
    </div>
    <div class="row">
      <h3>data</h3>
    </div>
  </div>
</div>
