<div class="row ">
  <div class="small-12 large-8 large-centered medium-centered columns user-box">
    <div class="row">
      <h1>edit <%=@salon.name %></h1>
    </div>
    <div class="row">
      <%= render 'edit_form' %>
    </div>
  </div>
</div>
