<div class="row large-centered salon-big-box">
  <div class="small-12 large-12 columns salon-box">
    <div class="row">
      <h1>schedule appointment</h1>
    </div>
    <div class="row clients">
      <%= render 'new_clientservice_form' %>
      <script>
        $(function(){
        	$('#dp1').fdatepicker({
        		initialDate: '02-12-1989',
        		format: 'mm-dd-yyyy hh:ii',
        		disableDblClickSelection: true,
        		leftArrow:'<<',
        		rightArrow:'>>',
        		closeIcon:'X',
        		closeButton: true,
            pickTime: true
        	});
        });
      </script>
    </div>
  </div>
