<div class="row">
  <div class="small-12 medium-10 large-8 large-centered medium-centered columns login-box">
    <div class="row">
      <h1>welcome to mirror</h1>
    </div>
    <div class="row">
      <h4>mirror is a solution for connecting salons, stylists and their clients</h4>
    </div>
    <div class="login-buttons">
      <a href="/auth/login" class="button login-page-button">log in</a>
      <a href="/auth/register/cmon_let_me_in" class="button login-page-button">sign up</a>
    </div>
  </div>
</div>
