/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 .custom-title-bar {
   background: #aab6b9;
   height: 75px;
 }

 .inline {
   display: inline-block;
 }

 .custom-bar {
   margin-bottom: 50px;
 }

 .custom-menu-icon {
   margin: 20px;
   color: #CF6766;
 }

 .custom-menu-icon:hover {
   color: #522928;
 }

.site-logo {
  width: 100px;
}

.flash-container {
  text-align: center;
  background: #DCD6D4;
  margin-top: 0;
  color: black;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  padding: 10px;
}

.user-info {
  text-align: center;
  padding: 10px;
}

.login-box {
  text-align: center;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.login-box h1 {
  background: #aab6b9;
  color: white;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
}

.login-box h4 {
  color: black;
  font-size: 16px;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
}

.login-buttons {
  padding-bottom: 10px;
}

.login-page-button {
  background: #aab6b9;
  margin-left: 10px;
  margin-right: 10px;
  width: 20%;
  font-size: 18px;
}

.login-page-button:hover {
  background: #767F81;
}

.login-title {
  font-size: 20px;
}

.login-field {
  margin-left: 60px;
  margin-right: 60px;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
