/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 .custom-title-bar {
   background: #aab6b9;
   height: 75px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
 }

 .title-width {
   width: 20%;
 }

 .inline {
   display: inline-block;
 }

 .custom-bar {
   margin-bottom: 50px;
 }

 .custom-menu-icon {
   margin: 20px;
   color: #CF6766;
 }

 .custom-menu-icon:hover {
   color: #A55251;
 }

.site-logo {
  width: 100px;
}

.current-user-name {
  font-family: 'Noto Sans', sans-serif;
}

.flash-container {
  text-align: center;
  background: #DCD6D4;
  margin-top: 0;
  color: black;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  padding: 10px;
}

.login-box {
  text-align: center;
  background: #FAF8F8;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.login-box h1 {
  background: #aab6b9;
  color: #FAF8F8;
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 0px;
}

.login-box h3 {
  color: black;
  font-size: 20px;
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
  text-align: right;
}

.login-box h4 {
  color: black;
  font-size: 16px;
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
}

.login-buttons {
  padding-top: 20px;
}

.login-page-button {
  background: #aab6b9;
  margin-left: 10px;
  margin-right: 10px;
  width: 20%;
  padding: 5px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 2px;
}

.new-salon-button {
  background: #D63232;
  padding: 5px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 2px;
  vertical-align: middle;
}

.new-salon-button:hover {
  background: #CC0000;
  box-shadow: 0 1.5px 3px rgba(0,0,0,0.16), 0 1.5px 3px rgba(0,0,0,0.23);
}

.new-salon-button:active {
  background: #D63232;
  box-shadow: 0 4px 7px rgba(0,0,0,0.16), 0 4px 7px rgba(0,0,0,0.23);
}

.login-page-button:hover {
  background: #babfc0;
  box-shadow: 0 1.5px 3px rgba(0,0,0,0.16), 0 1.5px 3px rgba(0,0,0,0.23);
}

.login-page-button:active {
  background: #babfc0;
  box-shadow: 0 4px 7px rgba(0,0,0,0.16), 0 4px 7px rgba(0,0,0,0.23);
}

.login-title {
  font-size: 20px;
}

.login-field {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

.drop-down {
  text-align-last: center;
}

.devise-errors {
  background: #CF6766;
  font-family: 'Noto Sans', sans-serif;
}

.devise-errors h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.devise-errors ul {
  list-style: none;
}

.page-footer {
  background: #FAF8F8;
  text-align: right;
  padding-top: 5px;
  padding-right: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.page-footer h4 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 10px;
  font-style: italic;
}

.user-box {
  text-align: center;
  background: #FAF8F8;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.user-box h1 {
  background: #aab6b9;
  color: #FAF8F8;
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.user-box h3 {
  color: black;
  font-size: 16px;
  padding: 5px;
  padding-right: 20px;
  font-family: 'Noto Sans', sans-serif;
  text-align: right;
}

.user-box h4 {
  color: black;
  font-size: 16px;
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
}

.user-info-hr {
  margin-left: 40px;
  margin-right: 40px;
  border-color: #aab6b9;
}

.salon-info {
  text-align: right;
  padding-right: 30px;
}

.salon-pic {
  text-align: center;
}

.salon-box {
  text-align: center;
  background: #FAF8F8;
  padding-bottom: 20px;
}

.salon-big-box {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  margin-bottom: 50px;
  background: #FAF8F8;
}

.clients {
}

.salon-box h1 {
  background: #aab6b9;
  color: #FAF8F8;
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.service-info {
  text-align: center;
  margin-left: 40px;
}

.open_chairs {
  color: #D63232;
}

.mini-service-icon {
  transition: color 0.5s ease;
  color: #D63232;
}

.mini-service-icon:hover {
  color: #CC0000;
}

.add-white-backer {
  background: white;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
}

.user-edit-box {
  text-align: center;
}

.user-image {
  width: 20%;
}

.mini-profile {
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
}

.user-profiles {
  list-style: none;
}

.mini-round-image {
  border: 1px solid white;
  border-radius: 50%;
  min-width: 100px;
  min-height: 100px;
  max-height: 100px;
  max-width: 100px;
  overflow: hidden;
}

.service-button{
  background: #D63232;
  padding: 5px;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.service-button:hover{
  background: #CC0000;
  box-shadow: 0 1.5px 3px rgba(0,0,0,0.16), 0 1.5px 3px rgba(0,0,0,0.23);
  padding: 5px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.add {
  background: #00994D;
}

.add:hover {
  background: #008945;
}

.appt-info-container {
  background: white;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
}

.appt-icon {
  color: black;
}
